*{
    box-sizing: border-box;
}
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;

}
/* Font-face */
@font-face {
    font-family: "Inter";
    src: url("../fonts/AnyConv.com__Inter-Regular.woff");    
}
@font-face {
    font-family: "Cormorant";
    src: url("../fonts/AnyConv.com__Cormorant-Regular.woff");    
}
@font-face {
    font-family: "Karla";
    src: url("../fonts/AnyConv.com__Karla-Regular.woff");    
}
/* CSS */
.search-in{
    border: 1px solid #B6B6B6;
    border-radius: 18px;
    padding: 8px 45px 8px 20px;
}
#check1 {
    display: none;
}
.checkbtn1 {
    display: none;
}

::placeholder{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;    
    line-height: 16px;
    color: #9B9B9B;

}
.input{
    width: 60%;
}
.icon{
    color: #9B9B9B;
    margin-left: -30px;
}
.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6C757D;
}
.active{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
}
.carousle-banner{
    padding-top: 80px;
    padding-bottom: 70px;
}
.slide-img{
   object-fit: cover;
}
.carousel .carousel-control-next-icon {
    width: 56px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.carousel .carousel-control-prev-icon {
    width: 56px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.text-head{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    color: #0D6EFD;
}
.text-para{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6C757D;
}
.mx-5 {
    margin-right: 0rem!important; 
    margin-left: 0rem!important;
}
.mt-24{
    margin-top: 24px;
}
.mt-56{
    margin-top: 56px;
}
.mb-30{
    margin-bottom: 30px;
}
.btn-color{
    background: #0D6EFD;
    color:white;
}
.text{
    padding-bottom: 70px;
}
.txt{
    max-width: 920px;
}
.background{
    background-color: #F5F9FF;
}
.img-text{
    background-size: 50% 100%;
    object-fit: cover;
    min-height: 740px;
    height: auto;
}
.bg-img{
    background-image: url("../assets/images/img-text.png");
}
.fs-20{
    font-size: 20px;
}
.fs-40{
    font-size: 40px;
}
.pt-90{
    padding-top: 90px;
}
.ptb-90{
    padding-top: 90px;
    padding-bottom: 90px;
}
.pb-90{
    padding-bottom: 90px;
}
.pt-24{
    padding-top: 24px;
}
.text-img{
    background-repeat: no-repeat;
    background-position: left;
}
.card-group {
    max-width: 1200px;
}
.card{
    background: #F5F9FF;
    border: 1px solid #DEEBFF;
    box-shadow: 0px 4px 10px rgba(172, 172, 172, 0.15);
    border-radius: 5px;
}
.pt-68{
    padding-top: 68px;
}
.card-title{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 28px;
    color: #0D6EFD;
}
.card-subtitle{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    color: #212529;
}
.card-link{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    /* identical to box height, or 190% */
    text-decoration-line: underline;

    color: #0D6EFD;
}
.link-2{
     /* identical to box height, or 190% */
     text-decoration-line: underline;

     color: #212529;
}
.accordion-header{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    
    line-height: 38px;

    /* identical to box height, or 158% */
    text-align: center;

    /* Primary */
    color: #0D6EFD;
}

.fs-28{
    font-size: 28px;
}
.h-color{
    color: #212529;
}
.lh-25{
    line-height: 25px;
}
.ml-20{
    margin-left: 10px;
}
.fs-24{
    font-size: 24px;
}
.fs-20{
    font-size: 20px;
}
.fs-15{
    font-size: 15px;
}
.frm-mail{
    
background: rgba(217, 217, 217, 0.3);
border-radius: 5px;

}
/* Media Query */
@media screen and (max-width: 991px) {
    .container{
        max-width: 720px;
    }
    .fa-btn {
        z-index: 99;
   }
    .navbar-1,.topnav{
        font-size: 50px;
   }
    .checkbtn1 {
        display: block;
        z-index: 99;
        font-size: larger;
   }
    .topnav {
        position: fixed;
        height: 67vh;
        width: 100%;
        background-color: #b6d3f3bb;
        top: 0;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 99;
   }
    .navbar-1, .topnav, .link {
        display: block;
        margin: 0 auto;
        color: #292929;
        z-index: 9;
        cursor: pointer;
   }
    .n1 {
        margin-top: 100px;
   }
    .link {
        padding: 20px;
   }
    .fa.fa-bars {
        font-size: 31px;
        padding: 18px;
        color: #e84545;
   }
    .navbar-1,.topnav,.link {
        font-size: 20px;
        color: #292929;
   }
    .navbar-1, .link {
        transition: .5s;
   }
    #check1:checked~.topnav {
        right: 0;
   }
}
